#help h2, #help h4 {
  color: #fff;
  margin: .5em 0;
}
#help h2 {
  text-align: center;
}
#help {
  display: none;
  position: fixed;
  height: 90vh;
  overflow: auto;
  top: 10vh;
  width: 100vw;
  background: #000;
  color: #b3b3b3;
}

#help nav {
  background: #000;
}

#X {
  width: 3em;
  color: #f00;
  border: 1px solid #fff;
  font-weight: bold;
  border-radius: .5em;
  outline: 0;

}

.containerHelp {
  margin: 0 auto;
  padding: 0 2em 2em 2em;
  text-align: justify;
}
