#inputTerminal {
  display: none;
  position: fixed;
  top: 10%;
  color: whitesmoke;
  overflow: auto;
  background: rgba(00, 00, 00, 1);
  width: 100vw;
  height: 90vh;
  padding: 3em;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

#inputTerminal pre {
    width: 80vw;
    height: 50vh;
    border: 1px solid whitesmoke;
    margin: 2.5em 0 2.5em 0;
    overflow: auto;
    background: #000;
    padding: .5em;
    text-align: left;
}

#inputTerminal input {
    background: #260063;
    margin: .5em;
    width: 10em;
    padding: .5em;
    height: auto;
    font-weight: bold;
    color: whitesmoke;
    outline: 0;
    border: none;
    border-radius: .5em;
}

#addNewPlayer, #createMob, #salveLastMob, #revisePlayer:hover {
  cursor: pointer;
}
