* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #000;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

main {
  border-bottom: 1px solid #ccc;
}

nav {
    position: fixed;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    width: 100vw;
    right: 0;
    background: rgba(00, 00, 00, 0.9);
    top: 0;
}

section {
  background: #eaeaea;
  margin: 2em 2em 0 2em;
  padding: 2em;
  border-radius: 1em;
  text-align: center;
}

h2, h3 {
  color: #585858;
  margin: .5em 0;
}


/*navegação*/

nav input {
  border: none;
  background: rgba(00, 00, 00, 00);
  color: whitesmoke;
  margin: 0 1.5em 0 0;
  height: 2em;
}

nav input:hover {
  cursor: pointer;
}


#terminal {
  display: none;
  background: rgba(00, 00, 00, .9);
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 10%;
  padding: 4.5em;
  overflow: auto;
  color: whitesmoke;
}
